@font-face {
  font-family: "Holland";
  src: url("./Holland.ttf");
}
@font-face {
  font-family: "PT Serif Caption";
  src: url("./PT_Serif-Caption-Web-Regular.ttf");
}

.home-title {
  font-family: "Holland";
  color: #303a4f;
  font-size: 11vw;
  font-style: italic;
}
.home-date {
  font-family: "PT Serif Caption";
  margin-top: 0.5em;
  margin-left: 7em;
  color: #303a4f;
  font-size: 3vw;
}
