<br>
<br>
<p id="notice"><%= notice %></p>
<h2>OBRIGADO!</h2>
<h4>Chave pix: <%=@payment.pix%></h4>
<br>
<h4>QR CODE:</h4>
<img src="<%=@payment.qr_code%>">
<br>
<%= link_to 'Voltar a lista', products_path %>
