<div class="alert alert-warning" role="alert">
  Favor enviar neste 
  <a href="https://docs.google.com/document/d/1lMVbtyflxZL9kgDRb5SnTc7s4Pf8khpnppC925gje-k/edit?usp=sharing" target="_blank">endereço</a>
  ou nos entregue no dia do chá.
</div>
