<div class="alert alert-warning" role="alert">
  Você tem a opção de enviar o valor por <b>pix</b> ou comprar o produto diretamente na <b>loja </b>. 
  Caso opte por comprar da loja, favor enviar neste 
  <a href="https://docs.google.com/document/d/1lMVbtyflxZL9kgDRb5SnTc7s4Pf8khpnppC925gje-k/edit?usp=sharing" target="_blank">endereço</a>.
  Confirme a compra pelo nosso whatsapp.
</div>
