<section class="page-section portfolio" id="lista">
  <div class="container">
    <!-- Portfolio Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Lista dos Produtos</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Portfolio Grid Items-->
    <p class="mb-4">
      <div class="alert alert-warning" role="alert">
        Você tem a opção de enviar o valor por <b>pix</b> ou comprar o produto diretamente na <b>loja </b>. 
        Caso opte por comprar da loja, favor enviar neste 
        <a href="https://docs.google.com/document/d/1lMVbtyflxZL9kgDRb5SnTc7s4Pf8khpnppC925gje-k/edit?usp=sharing" target="_blank">endereço</a>.
        Confirme a compra pelo nosso whatsapp.
      </div>
      <div class="row justify-content-center">
        <!-- Portfolio Items-->
        <% @products.each do |product| %>
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal<%=product.id%>">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white"><%= product.name %></div>
              </div>
              <img class="img-fluid" src="<%=product.photo%>" alt="..." />
            </div>
          </div>
          <%= render 'show', product: product %>
        <%end%>
      </div>
    </div>
  </div>
</section>
